@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      font-family: 'Quicksand', sans-serif;
   }
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
   width: 20px;
   height: 10px;
}
body::-webkit-scrollbar-thumb {
   background-color: #2a8059; /* green-700 */
   border: 5px solid #010101; /* gray-900 */
   border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
   background-color: #54ffb1; /* green-300 */
}
