@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      font-family: 'Quicksand', sans-serif;
   }
}

/* Scrollbar */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
   @apply w-5 h-3;
}
body::-webkit-scrollbar-thumb {
   @apply bg-green-700;
   @apply border-[5px] border-solid border-gray-900 rounded-2xl;
}
body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
   @apply bg-green-300;
}

/* Arrow */
.arrow-active-menu-item:before {
   @apply w-0 h-0 content-[''] absolute left-0 right-0 m-auto -bottom-2 sm:-bottom-4 border-4 sm:border-8 border-[transparent] border-t-green-300;
}

/* Toast Radix */
.toast-root[data-state='open'] {
   animation: slide-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast-root[data-state='closed'] {
   animation: hide 300ms ease-in;
}

@keyframes slide-in {
   from {
      transform: translateY(100%);
   }
   to {
      transform: translateY(0);
   }
}

@keyframes hide {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}
